.problemSummary{

    width: 100%;
}



.suggestedFix{
    width: 100%;
}


.long-line {
    border: none; /* Remove default border */
    height: 3px; /* Set the height of the line */
    background-color: black; /* Line color */
    margin: 0; /* Remove default margin */
}


.input-container {
    display: flex;
    flex-direction: row-reverse; /* Reverse the order of flex items */
}

.input-container textarea {
    flex: 1; /* Take up remaining space */
    margin-right: 10px; /* Adjust margin as needed */
    margin-left: 5px;
}

h1 {
	font-size: 200%;

}
h2 {
	font-size: 200%;
}

.button:hover {
  background-color: #008CBA;
  color: white;
}

.button {
  background-color: gray; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 3px 2px;
  cursor: pointer;
}
input[type=number]{
	width: 10%;
	padding: 10px 10px;
}

input[type=date]{
	padding 5px 3px;
	
}

