body {
  margin-left: 5px;
}

hr {
  margin-right: 5px;
}

.problemSummary{

    width: 100%;
}

.suggestedFix{
    width: 100%;
}

.long-line {
    border: none; /* Remove default border */
    height: 3px; /* Set the height of the line */
    background-color: black; /* Line color */
    margin: 0; /* Remove default margin */
    margin-left: -5px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    margin-bottom: -15px;
    /* flex-direction: row-reverse; Reverse the order of flex items */
}

.input-container textarea {
    flex: 1; /* Take up remaining space */
    margin-right: 10px; /* Adjust margin as needed */
    margin-left: 15px;
}

/* margins are different b/t summary, problem, and suggestedFix */
.input-container .problem {
    margin-left: 86px;
}
.input-container .suggestedFix {
  margin-left: 47px;
}

h1 {
	font-size: 200%;

}
h2 {
	font-size: 200%;
}

.button:hover {
  background-color: #008CBA;
  color: white;
}

.button {
  background-color: gray; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 3px 2px;
  cursor: pointer;
}


select.numeral, select.user {
  width: auto;
}

select.fixed {
  width: 200px;
}

input[type=number]{
	width: 10%;
	padding: 10px 10px;
}

input[type=date]{
	padding: 5px 3px;
	
}

div.inline-parent {
  width: 100%;
  position: relative;
}

div.inline-child {
  top: 0;
  right: 5px;
  bottom: 0;
  position: absolute;
}

.fixedSize {
  width: 100%;
  height: fit-content;
  white-space: nowrap;
  table-layout: auto;
}

table.fixedSize .fixedHeader {
  color: white;
  background-color: grey;
}

.overflow {
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.overflow.pwd {
  max-width: 40px;
}

.no_list_results {
  width: 100%;
  text-align: center;
}

.inner-modal {
  margin-left: 1%;

}
.inner-modal.input {
  margin-right: 1%;
}

.add-entity {
  margin-left: 7px;
  margin-bottom: 5px;
}

/* submission spinner (createPage) */
.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    margin: -5px 0 0 10px;
    width: 30px;
    height: 30px;
    
    & .path {
      stroke: rgb(210, 70, 75);
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }
    
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }

