<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
   
    {% if is_resolution == true %}
    <title>New Resolution</title>
    {% else %}
    <title>New Bug Report</title>
    {% endif %}
    
    <script>
        var homepage = "{{url_for('homepage')}}";

        function move(endpoint) { window.location.href = endpoint; }
    </script>
    
</head>
<body>
    <h1>New Bug Report</h1>
    <hr class="long-line">

    <form name="addBugForm" action="{{url_for('add_bug')}}" enctype="multipart/form-data" method="POST">

        <div>
            <label for="program_id" style="margin-left: 23px;">Program:</label>
            <select id="program_id" name="program_id" class="fixed" required>
                <option value="default" disabled selected>Program</option>
                {% for program in programs %}
                <option value="{{ program['program_id'] }}">
                    {{ program['program_name'] }} R{{ program["program_version"]|string }} v{{ program["release_version"]|string }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="report_type">Report Type:</label>
            <select id="report_type" name="report_type"required>
                <option value="default" disabled selected>Report type</option>
                {% for report_type in report_types %}
                    <option value="{{report_type}}">{{report_type}}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="severity" style="margin-left: 30px;">Severity:</label>
            <select id="severity" name="severity" style="width: auto;" required>
                <option value="default" disabled selected>None</option>
                {% for severity in severities %}
                    <option value="{{severity}}">{{severity}}</option>
                {% endfor %} 
            </select>
        </div>
        
        <div>
            <label for="reproducible">Reproducible?</label>
            <input type="checkbox" name="reproducible" id="reproducible">
        </div>

        <div class="input-container">
            <label for="problem_summary">Problem Summary</label><br>
            <textarea type="text" id="problem_summary" name="problem_summary" rows="2" class="summary" required></textarea>
        </div>
        
        <br>

        <div class="input-container">
            <label for="problem">Problem</label><br>
            <textarea type="text" id="problem" name="problem" rows="3" class="problem" required></textarea>
        </div>
        
        <br>
        
        <div class="input-container">
            <label for="suggested_fix">Suggested Fix</label><br>
            <textarea type="text" id="suggested_fix" name="suggested_fix" rows="3" class="suggestedFix"></textarea>
        </div>
        
        <br>
        
        <label for="reported_by">Reported by</label>
        <select id="reported_by" name="reported_by" class="user" required>
            <option value="default" disabled selected>user</option>
            {% for employee in employees %}
                <option value="{{employee['user_id']}}">{{employee['user_realname']}}</option>
            {% endfor %} 
        </select>

        <label for="date_reported">on</label>
        <input type="date" id ="date_reported" name ="date_reported" class="" required>
        <br>

        <hr>
        <label for="file">Supplementary attachments (optional)</label><br>
        <input type="file" id="file" name="file" multiple>
        <br><br>
        <hr class="long-line">
        
        <button type="submit">Submit</button>
        <button id="resetButton">Reset</button>
        <button onclick="move(homepage)">Cancel</button>
    </form>
    


    {% include 'flash_results.html' %}
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

        $('#resetButton').on("click", ()=>{
            console.log('resetting...');

            $("#program").val("default");
            $("#report_type").val("default");
            $("#severity").val("default");
            $("#reproducible").prop('checked', false);
            $("#problem_summary").val('');
            $("#problem").val('');
            $("#suggested_fix").val('');
            $("#reported_by").val("default");
            $('#date_input').val('');
            $('#file').val('');
        });
    </script>
</body>
</html>