<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>BugHound Home</title>
</head>
<body>
    <h1>Welcome to BugHound, {{username}}</h1>
    <hr class="long-line">

    <br><b>Bug Menu</b><hr>
    <button onclick="window.location.href='{{ url_for('add_bug') }}';">Add a Bug</button>
    <br><br>
    <button onclick="window.location.href='{{ url_for('update_bug') }}';">Update/Edit a Bug</button>
    <br><br> 
    <button onclick="window.location.href='{{ url_for('search_bug') }}';">Search a Bug</button>         

    {% if access == 3 %}
    <hr>
    <button onclick="window.location.href='{{ url_for('maintain_db') }}';">DB Maintenance</button>
    {% endif %}
    
    <hr>
    <button onclick="window.location.href='{{ url_for('logout') }}';">Logout</button>


</body>
</html> 