<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Maintenance</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

    <script>
        var manage_employees = "{{ url_for('manage_employees') }}";
        var manage_programs = "{{ url_for('manage_programs') }}";
        var manage_areas = "{{ url_for('manage_areas') }}";
        var homepage = "{{url_for('homepage')}}";

        function move(endpoint) { window.location.href = endpoint; }

        if (localStorage.getItem('access') != 3) {
            move(homepage);
            alert('Restricted location. Returning to homepage...')
        }
    </script>
</head>

<body>
    <h1>Database Maintenance</h1>
    <hr class="long-line">
    
    <button onclick="move(manage_employees)">edit Employees</button> 
    <button onclick="move(manage_programs)">edit Programs</button> 
    <button onclick="move(manage_areas)">edit Areas</button>

    <br><hr>
    <form id="exportForm" action="/export_data" method="POST">
        
        <button type="submit">Export:</button>
        <select id="table_name" name="table_name" style="width: 125px">
            <option value="employees">Employees</option>
            <option value="programs">Programs</option>
            <option value="areas">Areas</option>
            <option value="bugs">Bugs</option>
        </select>

        <label for="data_type">as: </label>
        <select id="data_type" name="data_type" class="user">
            <option selected disabled>File type</option>
            <option value="ascii">Text</option>
            <option value="xml">XML</option>
        </select>
    </form>

    <hr>
    <button onclick="move(homepage)"> Exit Maintenance</button>
    <br><br>

    {% include 'flash_results.html' %}

</body>
</html>