<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Maintenance</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

    <script>
        var db_lookup = "{{ url_for('db_lookup') }}";
        var manage_employees = "{{ url_for('manage_employees') }}";
        var manage_programs = "{{ url_for('manage_programs') }}";
        var manage_areas = "{{ url_for('manage_areas') }}";
        var homepage = "{{url_for('homepage')}}";

        function move(endpoint) { window.location.href = endpoint; }
    </script>
</head>

<body>
    
    <h1>Edit database</h1>
    <hr class="long-line"><br>

    <button onclick="move(db_lookup)">DB Lookup</button>
    <hr>
    
    <button onclick="move(manage_employees)">edit Employees</button> 
    <button onclick="move(manage_programs)">edit Programs</button> 
    <button onclick="move(manage_areas)">edit Areas</button>

    <br><hr>
    <div id="export_employee_list" style="margin-bottom: 5px;">
        <button id="exportEmployeeListButton">Export employee list</button>
        <label for="file_type_e">as: </label>
        <select id="file_type_e">
            <option>TXT</option>
            <option>XML</option>
        </select>
    </div>
    <div id="export_program_areas">
        <button id="exportProgramAreasButton" style="margin-right: 10px">Export list of areas</button>
        <label for="file_type_a">as: </label>
        <select id="file_type_a">
            <option>TXT</option>
            <option>XML</option>
        </select>
    </div>

    <hr>
    <button onclick="move(homepage)"> Exit Maintenance</button>
    <br><br>

</body>
</html>