<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>Bug Lookup/Edit</title>
</head>
<body>
    <h2>Bug Lookup</h2>

    <button onclick="window.location.href='{{ url_for('homepage') }}';">Back to Home</button>

    <br><br>

    <input type="search" id="searchInput" placeholder="Enter Bug ID">
    <button id="searchButton">Search</button>

    <br><br>
    <hr class="long-line">
    <br>

    <div id="searchResults"></div>
    <!-- 
        TODO: make results have hrefs that allow users to make edits (bugs, resolutions, etc) 
    -->
    
    <br>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="script.js"></script>
</body>
</html>