<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Maintenance (A)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

    <script>
        var maintain_db = "{{url_for('maintain_db')}}";
        var self = "{{url_for('manage_areas')}}";

        function move(endpoint) { window.location.href = endpoint; }

        if (localStorage.getItem('access') != 3) {
            move("{{url_for('homepage')}}");
            alert('Restricted location. Returning to homepage...')
        }
    </script>
</head>
<body>
    <h1>Edit database - areas</h1>

    <hr class="long-line">

    <button onclick="move(maintain_db)">Return to maintenance menu</button>
    <hr>

    <div id="area_results">
        {% include 'flash_results.html' %}
    </div>

    <h3>Add Areas</h3>
    <form id="newAreaForm" action="/add_area" method="POST">
        <label for="program_list">Add to program:</label>      
        <select id="program_list" name="program_list" style="margin-bottom: 5px; width: 140px;">
            <option value="default" disabled selected>------</option>
            {% for program in programs %}
                <option value="{{ program['program_id'] }}">{{ program['program_name'] }} R{{ program["program_version"]|string }} v{{ program["release_version"]|string }}</option>
            {% endfor %}
        </select>
    
        <div id="area_entity" style="margin-bottom: 5px;">
            <input id="area_title" name="area_title" list="area_title_options" size="30" placeholder="functional area">
            <datalist id="area_title_options" style="width: 300px;">
                {% for area in areas %}
                    <option data-value="{{ area['area_id'] }}" value="{{ area['area_title'] }}"></option>
                {% endfor %}
            </datalist>
            <button type="button" id="newAreaButton">+</button>
            <button type="button" id="removeAreaButton" hidden=true>--</button>
            <br>
        </div>
    </form>
    
    <button id="clearAreaButton">Clear</button>
    <button type="submit" form="newAreaForm">Add new Area(s)</button>

    <hr>
    
    <table class="fixedSize">
        <span>
            <h3>Area List</h3>
            <button id="list_refresh" type="button" onclick="move(self)">↻ Refresh list</button>
        </span>
        <br><hr>
        <thead>
            <tr>
                <th scope="col">Prog ID</th>
                <th scope="col">Area ID</th>
                <th scope="col" class="overflow">Program</th>
                <th scope="col" class="overflow">Release</th>
                <th scope="col" class="overflow">Version</th>
                <th scope="col">Area</th>
                <th scope="col" class="overflow">Operations</th>
            </tr>
        </thead>
        
        {% for row in program_areas %}

        <tr>
            <td>{{ row['program_id'] }}</td>
            <td>{{ row['area_id'] }}</td>

            <!-- program name, release, version -->
            <td>{{ row['program_name'] }}</td>
            <td>{{ row['program_version'] }}</td>
            <td>{{ row['release_version'] }}</td>

            <!-- area name -->
            <td>{{ row['area_title'] }}</td>

            <td>
                <a href="/update_area{{row['pa_id']}}" data-toggle="modal" data-target="#modaledit{{row['pa_id']}}">Edit</a> |
                <a href="/delete_area/{{row['pa_id']}}" onclick="return confirm('Confirm Delete?')">Delete</a>
            </td>
        </tr>

        <div id="modaledit{{row['pa_id']}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Edit Area</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <form id="editAreaForm{{row['pa_id']}}" action="/edit_program_area/{{row['pa_id']}}" method="POST">
                        <div id="area_entity_changes" class="inner-modal input">
                            <input hidden id="row_program_id" name="row_program_id" value="{{row['program_id']}}">
                            <label for="program_list" style="margin-left: 17px;">new Program: </label>
                            <select id="program_list" name="program_list" style="margin-bottom: 5px;">
                                {% for program in programs %}
                                    {% if program["program_id"] == row["program_id"] %}
                                    <option value="{{ program['program_id'] }}" selected>{{ program['program_name'] }} R{{ program["program_version"]|string }} v{{ program["release_version"]|string }}</option>
                                    {% else %}
                                    <option value="{{ program['program_id'] }}">{{ program['program_name'] }} R{{ program["program_version"]|string }} v{{ program["release_version"]|string }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select><br>

                            <label for="area_title" style="margin-left: 17px; margin-right: 28px;">new Area: </label>
                            <input id="area_title" name="area_title" list="area_title_options" size="21">
                            <datalist id="area_title_options">
                                {% for area in areas %}
                                    {% if row['area_title'] == area['area_title'] %}
                                    <option data-value="{{ area['area_id'] }}" value="{{ area['area_title'] }}" disabled selected></option>    
                                    {% else %}
                                    <option data-value="{{ area['area_id'] }}" value="{{ area['area_title'] }}"></option>
                                    {% endif %}
                                {% endfor %}
                            </datalist>
                        </div>
                    </form>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" form="editAreaForm{{row['pa_id']}}">Make area edit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </table>
    {% if not program_areas %}
        {% include 'no_results.html' %}
    {% endif %}


    <br>
    <hr class="long-line">


    <!-- jQuery, Popper.js, Bootstrap, in-page listeners -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   <script>
        // newAreaForm
        $('#newAreaButton').on("click", () => {
            
            let temp = '<div id="area_entity" style="margin-bottom: 5px;">'+
                '<input id="area_title" name="area_title" list="area_title_options" size="30" placeholder="functional area">'+
                '<datalist id="area_title_options">'+
                    '{% for area in areas %}'+
                        '<option data-value="' + "{{ area['area_id'] }}" + ' value="' + "{{ area['area_title'] }}"+'"></option>' +
                    '{% endfor %}'+
               ' </datalist>'+
                '<br>'+
            '</div>';
            $("#newAreaForm").append(temp);
            console.log('add')
            
            let area_length = $("#newAreaForm").children('div[id=area_entity]').length;
            if (area_length > 1)  removeAreaButton.hidden = false;
        });
        $('#removeAreaButton').on("click", () => {
            $("#newAreaForm").children('div[id=area_entity]:last').remove();
            console.log('remove')

            let area_length = $("#newAreaForm").children('div[id=area_entity]').length;
            if (area_length == 1) removeAreaButton.hidden = true;
        });

        $('#clearAreaButton').on("click", () => {
            let area_length = $("#newAreaForm").children('div[id=area_entity]').length;
            for (var i=0; i<area_length-1; i++) { $('#removeAreaButton').click(); }
            $('#newAreaForm #program_list').val("default");
            $('#newAreaForm #area_title').val("");
        });

    </script>
</body>
</html>