<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Maintenance (A)</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Edit database - areas</h1>

    <hr class="long-line">
    <br>
    <button onclick="move('{{ url_for('maintain_db') }}')">Return to maintenance menu</button>
    <hr>


    <h3>Add Areas</h3>
    <form id="newAreaForm" action="" method="POST">
        <label for="program_list">Add to program:</label>      
        <select id="program_list" style="margin-bottom: 5px;">
            <option value="default" disabled selected>------</option>
            {% for program in programs %}
                    <option value="{{ program['program_id'] }}">{{ program['program_name']+" "+program["program_version"]+" "+program["release_version"] }}</option>
            {% endfor %}
        </select>
        <button type="button" id="program_list_refresh">↻</button>
    
            <div id="area_entity" style="margin-bottom: 5px;">
                <input id="area_title" name="area_title" size="30" placeholder="functional area">
                <button type="button" id="newAreaButton">+</button>
                <button type="button" id="removeAreaButton" hidden=true>-</button>
                <br>
            </div>
    </form>
    
    <button id="clearAreaButton">Clear</button>
    <button type="submit" form="newAreaForm">Add new Area(s)</button>
    <div id="new_area_res">
        <!-- <span>successful</span> -->
    </div><hr>
    

    <h3>Edit Areas</h3>
    <form id="editAreaForm" action="" method="POST">
        <label for="program_list_c">Referenced program:</label>      
        <select id="program_list_c" style="margin-bottom: 5px;">
            <option value="default" disabled selected>------</option>
            {% for program in programs %}
                <option value="{{ program['program_id'] }}">{{ program['program_name']+" "+program["program_version"]+" "+program["release_version"] }}</option>
            {% endfor %}
        </select>
        <button type="button" id="program_list_refresh_c">↻</button>
        
        <br>
        <div id="area_entity_before" style="margin-bottom: 5px;">
            <label for="area_title" style="margin-right: 5px;">Area before change: </label>
            <input id="area_title" name="area_title" size="15" placeholder="functional area">
        </div>
        <div id="area_entity_after">
            <label for="area_title" style="margin-right: 17px;">Area after change: </label>
            <input id="area_title" name="area_title" size="15" placeholder="functional area">
        </div>
    </form>
    
    <button id="clearAreaChangeButton">Clear</button>
    <button type="submit" form="editAreaForm">Make area edit(s)</button>
    <div id="change_area_res">
        <!-- <span>successful</span> -->
    </div><hr>

    <h3>Remove Area from Program</h3>
    <form id="removeAreaForm" action="" method="POST">
        <label for="program_list_r">Referenced program:</label>      
        <select id="program_list_r" style="margin-bottom: 5px;">
            <option value="default" disabled selected>------</option>
            {% for program in programs %}
                <option value="{{ program['program_id'] }}">{{ program['program_name']+" "+program["program_version"]+" "+program["release_version"] }}</option>
            {% endfor %}
        </select>
        <button type="button" id="program_list_refresh_r">↻</button>
        
        <br>
        <label for="area_title">Area being removed: </label>
        <input id="area_title" name="area_title" size="15" placeholder="functional area">
    </form>
    
    <button id="clearRemoveAreaButton">Clear</button>
    <button type="submit" form="editAreaForm">Make area edit(s)</button>
    <div id="remove_area_res">
        <!-- <span>successful</span> -->
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function move(endpoint) {
            window.location.href = endpoint;
        }

        // newAreaForm
        $('#newAreaButton').on("click", () => {
            
            let temp = '<div id="area_entity" style="margin-bottom: 5px;">'+
                '<input id="area_title" name="area_title" size="30" placeholder="functional area">'+
                '<br>'+
            '</div>';
            $("#newAreaForm").append(temp);
            console.log('add')
            
            let area_length = $("#newAreaForm").children('div[id=area_entity]').length;
            if (area_length > 1)  removeAreaButton.hidden = false;
        });
        $('#removeAreaButton').on("click", () => {
            $("#newAreaForm").children('div[id=area_entity]:last').remove();
            console.log('remove')

            let area_length = $("#newAreaForm").children('div[id=area_entity]').length;
            if (area_length == 1) removeAreaButton.hidden = true;
        });

        $('#clearEmployeeButton').on("click", () => {
            let area_length = $("#newAreaForm").children('div[id=area_entity]').length;
            for (var i=0; i<area_length-1; i++) { $('#removeAreaButton').click(); }
            $('#newAreaForm #employee_name').val("");
            $('#newAreaForm #username').val("");
            $('#newAreaForm #employee_level').val(1);
        });

        // areaChangeForm
        $('#clearAreaChangeButton').on("click", () => {
            $('#accessChangeEmployeeForm #username').val("");
            $('#accessChangeEmployeeForm #employee_level').val(1);
        });

        // removeAreaForm
        $('#clearRemoveAreaButton').on("click", () => {
            $('#removeAreaForm #area_title').val("");
        });
    </script>
</body>
</html>