<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Maintenance (E)</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Edit database - employees</h1>

    <hr class="long-line">
    <br>
    <button onclick="move('{{ url_for('maintain_db') }}')">Return to maintenance menu</button>
    <hr>


    <h3>Add Employees</h3>
    <form id="newEmployeeForm" action="" method="POST">
        <div id="employee_entity" style="margin-bottom: 5px;">
            <input id="employee_name" name="employee_name" size="10" placeholder="employee name">
            <input id="username" name="username" size="7" placeholder="username">
            <select id="employee_level" name="employee_level" required>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
            </select>
            <button type="button" id="newEmployeeButton">+</button> 
            <button type="button" id="removeEmployeeButton" hidden=true>-</button>
            <br>
        </div>
    </form>

    <button id="clearEmployeeButton">Clear</button>
    <button type="submit" form="newEmployeeForm">Add new employee(s)</button>
    <div id="new_employee_res">
        <!-- <span>successful</span> -->
    </div>
    <hr>    


    <h3>Edit Employee Access Level</h3>
    <form id="accessChangeEmployeeForm" action="" method="POST">
        <label for="employee_name" style="margin-right: 22px;">For employee:</label>
        <input id="username" name="username" size="7" placeholder="username"><br>
    
        <label for="employee_level">New access level:</label>
        <select id="employee_level" name="level_change" required>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
        </select>
    </form>

    <button id="clearAccessChangeButton">Clear</button>
    <button type="submit" form="accessChangeEmployeeForm">Change Access Level</button>
    <div id="change_employee_res">
        <!-- <span>successful</span> -->
    </div>
    <hr>

    <h3>Remove Employee</h3>
    <form id="removeEmployeeForm" action="" method="POST">
        <input id="employee_name" name="employee_name" size="10" placeholder="employee name">
        <input id="username" name="username" size="7" placeholder="username">
    </form>

    <button id="clearRemoveEmployeeButton">Clear</button>
    <button type="submit" form="removeEmployeeForm">Remove Employee</button>
    <div id="remove_employee_res">
        <!-- <span>successful</span> -->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function move(endpoint) {
            window.location.href = endpoint;
        }

        // newEmployeeForm
        $('#newEmployeeButton').on("click", () => {
            
            let temp = '<div id="employee_entity" style="margin-bottom: 5px;">'+
                '<input id="employee_name" name="employee_name" size="10" placeholder="employee name"> '+
                '<input id="username" name="username" size="7" placeholder="username"> '+
                '<select id="level_change" name="level_change" required>'+
                    '<option value=1>1</option>'+
                    '<option value=2>2</option>'+
                    '<option value=3>3</option>'+
                '</select>'+
                '<br>'+
            '</div>';
            $("#newEmployeeForm").append(temp);
            console.log('add')
            
            let emp_length = $("#newEmployeeForm").children('div[id=employee_entity]').length;
            if (emp_length > 1)  removeEmployeeButton.hidden = false;
        });
        $('#removeEmployeeButton').on("click", () => {
            $("#newEmployeeForm").children('div[id=employee_entity]:last').remove();
            console.log('remove')

            let emp_length = $("#newEmployeeForm").children('div[id=employee_entity]').length;
            if (emp_length == 1) removeEmployeeButton.hidden = true;
        });

        $('#clearEmployeeButton').on("click", () => {
            let emp_length = $("#newEmployeeForm").children('div[id=employee_entity]').length;
            for (var i=0; i<emp_length-1; i++) { $('#removeEmployeeButton').click(); }
            $('#newEmployeeForm #employee_name').val("");
            $('#newEmployeeForm #username').val("");
            $('#newEmployeeForm #employee_level').val(1);
        });

        // accessChangeForm
        $('#clearAccessChangeButton').on("click", () => {
            $('#accessChangeEmployeeForm #username').val("");
            $('#accessChangeEmployeeForm #employee_level').val(1);
        });

        // removeEmployeeForm
        $('#clearRemoveEmployeeButton').on("click", () => {
            $('#removeEmployeeForm #employee_name').val("");
            $('#removeEmployeeForm #username').val("");
        });
    </script>
</body>
</html>