<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>Maintenance Lookup</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        var maintain_db = "{{url_for('maintain_db')}}";

        function move(endpoint) { window.location.href = endpoint; }

        if (localStorage.getItem('access') != 3) {
            move("{{url_for('homepage')}}");
            alert('Restricted location. Returning to homepage...')
        }
    </script>
</head>
<body>
    <h1>Maintenance Lookup</h1>
    <hr class="long-line">
    <br>

    <button onclick="move(maintain_db)">Return to maintenance menu</button>

    <br><br>

    <label for="lookupType">Looking for:</label>
    <select id="lookupType">
        <option>Users</option>
        <option>Programs</option>
        <option>Areas</option>
    </select>
    <button id="lookupButton">Search</button>

    <hr><br>

    <div id="searchResults"></div>
    <!-- 
        TODO: make views based on selection
    -->
    
    <br>

</body>
</html>