<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Maintenance (P)</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Edit database - programs</h1>

    <hr class="long-line">
    <br>
    <button onclick="window.location.href='{{ url_for('maintain_db') }}';">Return to maintenance menu</button>
    <hr>


    <h3>Add Programs</h3>
    <form id="newProgramForm" action="" method="POST">
        <div id="program_entity" style="margin-bottom: 5px;">
            <input id="program_name" name="program_name" size="10" placeholder="program name">
            <input id="program_release" name="program_release" size="6" placeholder="release">
            <input id="release_version" name="release_version" size="3" placeholder="version">
            <button type="button" id="newProgramButton">+</button> 
            <button type="button" id="removeProgramButton" hidden=true>-</button>
            
        </div>
    </form>
    
    <button id="clearProgramButton">Clear</button>
    <button type="submit" form="newProgramForm">Add new programs</button>
    <div id="new_program_res">
        <!-- <span>successful</span> -->
    </div>
    <hr>      

    <h3>Edit Programs</h3>
    <form id="editProgramForm" action="" method="POST">
        <label for="program_entity_before">Program before change:</label>
        <div id="program_entity_before" style="margin-bottom: 10px;">
            <input id="program_name" name="program_name" size="10" placeholder="program name">
            <input id="program_release" name="program_release" size="6" placeholder="release">
            <input id="release_version" name="release_version" size="3" placeholder="version">
        </div>
        
        <label for="program_entity_after">Program after change (leave blank for no change):</label>
        <div id="program_entity_after">
            <input id="program_name" name="program_name" size="10" placeholder="program name">
            <input id="program_release" name="program_release" size="6" placeholder="release">
            <input id="release_version" name="release_version" size="3" placeholder="version">
        </div>
    </form>
    
    <button id="clearProgramChangeButton">Clear</button>
    <button type="submit" form="editProgramForm">Make program edit</button>
    <div id="change_program_res">
        <!-- <span>successful</span> -->
    </div><hr>

    <h3>Remove Program</h3>
    <form id="removeProgramForm" action="" method="POST">
        <input id="program_name" name="program_name" size="10" placeholder="program name">
        <input id="program_release" name="program_release" size="6" placeholder="release">
        <input id="release_version" name="release_version" size="3" placeholder="version">
    </form>

    <button id="clearRemoveProgramButton">Clear</button>
    <button type="submit" form="removeProgramForm">Remove program</button>
    <div id="remove_program_res">
        <!-- <span>successful</span> -->
    </div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function move(endpoint) {
            window.location.href = endpoint;
        }

        // newProgramForm
        $('#newProgramButton').on("click", () => {
            
            let temp = '<div id="program_entity" style="margin-bottom: 5px;">'+
                '<input id="program_name" name="program_name" size="10" placeholder="program name"> '+
                '<input id="program_release" name="program_release" size="6" placeholder="release"> '+
                '<input id="release_version" name="release_version" size="3" placeholder="version">'+
                '<br>'+
            '</div>';
            $("#newProgramForm").append(temp);
            console.log('add')
            
            let prog_length = $("#newProgramForm").children('div[id=program_entity]').length;
            if (prog_length > 1)  removeProgramButton.hidden = false;
        });
        $('#removeProgramButton').on("click", () => {
            $("#newProgramForm").children('div[id=program_entity]:last').remove();
            console.log('remove')

            let prog_length = $("#newProgramForm").children('div[id=program_entity]').length;
            if (prog_length == 1) removeProgramButton.hidden = true;
        });

        $('#clearProgramButton').on("click", () => {
            let prog_length = $("#newProgramForm").children('div[id=program_entity]').length;
            for (var i=0; i<prog_length-1; i++) { $('#removeEmployeeButton').click(); }
            $('#newProgramForm #employee_name').val("");
            $('#newProgramForm #username').val("");
            $('#newProgramForm #employee_level').val(1);
        });

        // editProgramForm
        $('#clearProgramChangeButton').on("click", () => {
            $('#editProgramForm #program_entity_before #program_name').val('')
            $('#editProgramForm #program_entity_before #program_release').val('')
            $('#editProgramForm #program_entity_before #release_version').val('')
            $('#editProgramForm #program_entity_after #program_name').val('')
            $('#editProgramForm #program_entity_after #program_release').val('')
            $('#editProgramForm #program_entity_after #release_version').val('')
        });

        // removeProgramForm
        $('#clearRemoveProgramButton').on("click", () => {
            $('#removeProgramForm #program_name').val('')
            $('#removeProgramForm #program_release').val('')
            $('#removeProgramForm #release_version').val('')
        });
    </script>
</body>
</html>