<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Maintenance (P)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

    <script>
        var maintain_db = "{{url_for('maintain_db')}}";
        var self = "{{url_for('manage_programs')}}";

        function move(endpoint) { window.location.href = endpoint; }

        if (localStorage.getItem('access') != 3) {
            move("{{url_for('homepage')}}");
            alert('Restricted location. Returning to homepage...')
        }
    </script>
</head>
<body>
    <h1>Edit database - Programs</h1>

    <hr class="long-line">

    <button onclick="move(maintain_db)">Return to maintenance menu</button>
    <button id="list_refresh" type="button" onclick="move(self)">↻ Refresh list</button>
    <hr>

    <div id="program_results">
        {% include 'flash_results.html' %}
    </div>

    <h3>Add Programs</h3>
    <form id="newProgramForm" action="/add_program" method="POST">
        <div id="program_entity" class="add-entity">
            <input id="program_name" name="program_name" size="10" placeholder="program name" required>
            <input id="program_release" name="program_release" size="6" placeholder="release" required>
            <input id="release_version" name="release_version" size="3" placeholder="version" required>
            <button type="button" id="newProgramButton">+</button> 
            <button type="button" id="removeProgramButton" hidden=true>--</button>
            
        </div>
    </form>
    
    <button id="clearProgramButton">Clear</button>
    <button type="submit" form="newProgramForm">Add new programs</button>

    <hr>

    <h3>Program List</h3>

    <table class="fixedSize">
        <thead class="fixedHeader">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Program</th>
                <th scope="col">Release</th>
                <th scope="col">Version</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>

        {% for row in programs %}

        <tr>
            <td>{{ row['program_id'] }}</td>
            <td>{{ row['program_name'] }}</td>
            <td>{{ row['program_version'] }}</td>
            <td>{{ row['release_version'] }}</td>
            <td>
                <a href="/update_program/{{row['program_id']}}" data-toggle="modal" data-target="#modaledit{{row['program_id']}}">Edit</a> |
                <a href="/delete_program/{{row['program_id']}}" onclick="return confirm('Confirm Program removal?')">Delete</a>
            </td>
        </tr>

        <div id="modaledit{{row['program_id']}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Edit Program</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <form id="editProgramForm{{row['program_id']}}" action="/edit_program/{{row['program_id']}}" method="POST">
                        <label for="program_entity_after" class="inner-modal">After change (leave blank for no change):</label>
                        <div id="program_entity_changes" class="inner-modal input">
                            <input id="program_name" name="program_name" size="20" placeholder="p: {{row['program_name']}}">
                            <input id="program_release" name="program_release" size="6" placeholder="r: {{ row['program_version'] }}">
                            <input id="release_version" name="release_version" size="6" placeholder="v: {{row['release_version'] }}">
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" form="editProgramForm{{row['program_id']}}">Make program edit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
            
        {% endfor %}

    </table>

    {% if not programs %}
        {% include 'no_results.html' %}
    {% endif %}

    <br>
    <hr class="long-line">
    
    <!-- jQuery, Popper.js, Bootstrap, in-page listeners -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        // newProgramForm
        $('#newProgramButton').on("click", () => {
            
            let temp = '<div id="program_entity" class="add-entity">'+
                '<input id="program_name" name="program_name" size="10" placeholder="program name"> '+
                '<input id="program_release" name="program_release" size="6" placeholder="release"> '+
                '<input id="release_version" name="release_version" size="3" placeholder="version">'+
                '<br>'+
            '</div>';
            $("#newProgramForm").append(temp);
            console.log('add')
            
            let prog_length = $("#newProgramForm").children('div[id=program_entity]').length;
            if (prog_length > 1)  removeProgramButton.hidden = false;
        });
        $('#removeProgramButton').on("click", () => {
            $("#newProgramForm").children('div[id=program_entity]:last').remove();
            console.log('remove')

            let prog_length = $("#newProgramForm").children('div[id=program_entity]').length;
            if (prog_length == 1) removeProgramButton.hidden = true;
        });

        $('#clearProgramButton').on("click", () => {
            let prog_length = $("#newProgramForm").children('div[id=program_entity]').length;
            for (var i=0; i<prog_length-1; i++) { $('#removeEmployeeButton').click(); }
            $('#newProgramForm #employee_name').val("");
            $('#newProgramForm #username').val("");
            $('#newProgramForm #employee_level').val(1);
        });

    </script>
</body>
</html>